django>=5.0
djangorestframework
django-cors-headers
python-dotenv
openai
langchain
langchain-community
langchain-huggingface
faiss-cpu
torch
torchvision
torchaudio
sentence-transformers
numpy
redis
django-redis
celery
Pillow
firebase-admin>=6.0.0
google-generativeai
python-dateutil
dj-database-url
psycopg2-binary
channels
channels-redis
daphne
